/* SVG styles */
svg {
     width: 100%;
     height: auto;
}

.node {
     fill: #1e3d59;
     cursor: pointer;
     transition: fill 0.2s;
}

.node:hover {
     fill: #3498db;
}

text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    fill: white;
    text-anchor: middle;
}

.sitemapheading {
     text-align: center;
     align-items: center;
     color: #fff;
     font-size: 50px;
     font-weight: bold;
}
 
line {
     stroke: black;
     stroke-width: 2;
}


 .svg-container {
    width: 100%; 
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    border: 1px solid #ccc; 
    display: flex;
    justify-content: center; 
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    transition:all 0.5s ease-in-out;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),url("Images/bg1.jpeg");
 }

 .svg-container:hover{
     transform: scale(1.005);
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.464);
 }

 :root {
  --primary-color: #1e3d59;
  --secondary-color: #3498db;
  --accent-color: #4CAF50;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color:#88d4f7;
}
header {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navbar li {
  margin: 0 1rem;
}
.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: var(--secondary-color);
  font-weight: bold;
}
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem 0 1rem;
  margin-top: 0ch;
  text-align: center;
}

.topic {
    background:#1e3d59;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.464);
}

main{
    margin: 0px;
    padding: 0px;
}

.footer_container{
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     flex-wrap: wrap;
}

footer section{
     text-align: center;
     padding: 10px 70px;
     margin: 10px;
}

footer a{
     font-weight: bold;
     color: #ffffff;
}

footer li a{
     color: #ffffff;
     font-size: 18;
     text-decoration: none;
}

.logoimg{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  transition:all 0.5s ease-in-out;
}

h4{
  margin-bottom: 15px;
}